.topMenu {
    width: 100%;
    height: 50px;
    text-align: right;
}
.pageContainer {
    width:100%;
    height:100%;
}
.rowContainer {
    position: relative;
    width:100%;
    height:100%;
}
.sideMenu {
    /*float: left;*/
    /*width: 20%;*/
    /*height: 100%;*/
    /*display: block;*/
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5%;
}

.sideMenu a {
    padding: 12px 0;
    display: block;
}
.sideMenu a:hover {
    background-color: #288898;
}
.editor {
    /*float: right;*/
    /*width: 80%;*/
    /*height: 100%;*/
    /*display: block;*/
    position: absolute;
    top: 0;
    bottom: 0;
    right:0;
    width: 95%;
    background-color: rgb(165, 223, 225);
    overflow: scroll;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

html, body {
    margin:0;
    padding:0;
    height:100%;
}
.documentTitle {
    float: left;
    margin-left: 420px;
    width: 200px;
    text-align: left;
    height: 100%;
    display: table;
    border-left: 2px solid #0f4865;
    padding-left: 5px;
}
.documentTitle span {
    display: table-cell;
    vertical-align: middle;
}
.tmButtons {
    float: right;
    height: 100%;
    margin-right: 10px;
}
.tmButtons ul {
    height: inherit;
    display: table;
}
.tmButtons ul li {
    height: inherit;
    display: table-cell;
    vertical-align: middle;
    padding-left: 5px;
}
.button {
    background-color: white;
    padding: 10px 15px;
}

.tmButtons li {
    position: relative;
}

#canvas{
  background: white;
  margin-top: 25px;
  margin-bottom: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.submenu {
    position: absolute;
    left: 0;
    top: 50px;
    left: 100%;
    z-index: 10;
    width: 250px;
    padding: 14px;
    background-color:#BDD5E9;
    display: none;

}
.submenu li {
    display: block;
    height: 40px;

}

#exportContainer {
    position: absolute;
    right: 0;
    top: 50px;
    z-index: 10;
    padding: 10px;
    background-color:#BDD5E9;
    display: none;

}
#exportContainer .button {
    display: block;
    height: 40px;
    text-align: center;
}
#exportSVG,#exportPNG,#exportJPG {
    width: 90px;


}
#AddImg .button {
    display: block;
    height: 40px;
    text-align: center;
}

#removeContainer {
    display: none;
}



.hide{
	display: none;
}

.btn{
	cursor: pointer;
}

section{
	overflow: hidden;
	overflow-y: auto;
	height: 85%;
	width: 100%;
}

.slider, .slide{
	height:100%;
	width: 100%;

	background: url(images/wild_oliva.png);
}

.right{
	float:right;
}





#draw-board{
	position: relative;
	float: right;
	top:100px;
	width: calc(100% - 250px);
}

#draw-board:after{
	content: "";
	display: block;
	height: 50px;
}


#charts-wrapper{
	z-index:1000;
	background: none;
	color:white;
	font-family: 'Verdana';
	font-size: 14px;
	font-weight: bold;
	height: 85%;
	position: absolute;
	width: 100%;
}

#charts-wrapper input, #charts-wrapper select{
	border:none;
	padding: 4px 0;
	position: relative;
	text-indent: 5px;
	top:-4px;
	width: 150px;
}

#charts-panel{
	background: #BDD5E9;
	bottom: 0;
	height: 500px;
	left: 150%;
	margin: auto;
	padding: 10px;
	position: absolute;
	right: 0;
	top:-10%;
	width: 1080px;
}

#charts-panel #container-wrapper{
	background: white;
	height: 400px;
	position: absolute;
	right: 10px;
	top: 50px;
	width: 800px;
}

#charts-panel .panel-title{
	margin-left: 0px;
}

#charts-option-items{
	margin-top: 70px;
	width:260px;
}

#charts-option-items > *{
	margin-bottom: 20px;
}

#charts-panel .back-button, #charts-panel .save-button{
	background: #288898;
	bottom: 10px;
	color:white;
	font-family: 'Verdana';
	font-size: 15px;
	font-weight: bold;
	padding: 5px;
	position: absolute; 
	text-align: center;
	width: 55px;
}


#charts-wrapper .wrapper{
	position: relative;
	width: 150px;
	top: -21px;
	left: 110px;
	height: 22px;
	overflow: hidden;
}

#file{
	top: -34px!important;
	left: 1px;
	width: 300px!important;
	opacity: 0;
}

#charts-panel .save-button{
	right:10px;
}

