body {
  background: #1bbc9b
}

div.form {
    display: block;
    text-align: center;
}

h1 {
  text-align: center;
  font-family: "Arial",Arial,serif;
}

form {
  font: 14px/1.4 "Verdana", Verdana, Arial, sans-serif;
  overflow: hidden;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 480px;
}

input {
  font: 14px/1.4 "Verdana", Verdana, Arial, sans-serif;
  width: 100%;
  padding: 12px 20px;
  margin: 2px 0;
  box-sizing: border-box;
  border: 2px ;
  border-radius: 4px;
}

label {
  color: black;
  display: block;
  margin-bottom: 20px;
  padding: 4px;
}

button{
    background-color: rgb(208,95,118);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
  background-color: rgb(188,27,60);
  color: white;
}
